/* You can add custom styles here. */
$tag-bg-color: rgb(197, 163, 15);
$tag-text-color: white;
$tag-padding: 5px;
$tag-margin: 2px;
$tag-border-radius: 3px;

.tag-box {
  display: inline-block;
  background-color: $tag-bg-color;
  color: $tag-text-color;
  padding: $tag-padding;
  margin: $tag-margin;
  border-radius: $tag-border-radius;
  text-decoration: none;
}

// Cards
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 8px;
  text-decoration: none!important;
  color: #fff;
  font-size: 24px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.6;
  text-decoration: none;
}

.card-icon {
  font-size: 72px;
  margin-bottom: 16px;
}

.card-name {
  font-size: 20px;
  text-align: center;
}

/* Remove underline on hover and adjust link color */
.card:hover,
.card:visited {
  text-decoration: none;
  color: #fff!important; /* Ensures link color remains white */
}


/* MARKDOWN COLOR */
.markdown b, .markdown optgroup, .markdown strong {
  color: mediumpurple;
}

.markdown em {
  color: yellow;
}

.markdown h1 {
  color: deepskyblue;
  font-weight: bold;
}

.markdown h2 {
  color: lightseagreen;
  font-weight: bold;
}

.markdown h3 {
  color: palevioletred;
  font-weight: bold;
}

.markdown h4 {
  color: orange;
  font-weight: bold;
}

.markdown h4 {
  color: lightgreen;
  font-weight: bold;
}

/* Blockquote */
.markdown .book-hint.tip {
  border-color: rgb(102, 255, 222);
  background-color: rgba(255, 221, 102, .1);
}

.markdown .book-hint.question {
  border-color: rgb(235, 255, 102);
  background-color: rgba(255, 221, 102, .1);
}

.markdown .book-hint h3 {
  color: aliceblue;
  font-weight: 700;
}

// @import "plugins/numbered";
